* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  background-color: #2f2a2d;
  justify-content: space-between;
  color: #fafafa;
  padding: 30px 80px;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}

.cart-button {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cart-button:hover {
  background: rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 20px 20px #000;
  color: #1b1b1b;
}

.goods-list {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.goods-item {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.buy-btn {
  margin-top: 5px;
  background-color: #2f2a2d;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.buy-btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}
